# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List some of the popular libraries used by Data Scientists
- List some of the popular Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Mathplotlib
2. Tensorflow
3. Pandas

|Data Science Tools|
|-------|
|R Studio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

_This a simple arithmetic expression to mutiply then add integers_

In [3]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60_

In [5]:
x = round(200/60, 2)
print(x, 'h')

3.33 h

## Author:
Miodrag Životić